@model BallModel

@{
    ViewData["Title"] = Model.Brand + " " + Model.Model;
}

<h1>@Model.Name @Model.Brand @Model.Model</h1>
<p>@Model.Description</p>
<p>Цена: <strong>@Model.Price</strong> рублей</p>
<form action="@Url.Action(nameof(OrderController.AddItem), "Order")" method="post">
    <input type="hidden" name="ballId" value="@Model.Id" />
    <button class="btn btn-success" type="submit">В корзину</button>
</form>
